{include="header"}

<!-- ==========  SECCION LISTAR INGRESO ========== -->
{if="$fsc->listar=='si'"}

<div class="container-fluid">
   <div class="row">
      <div class="col-sm-6">
         <div class="btn-group hidden-xs">
            <a class="btn btn-sm btn-default" href="index.php?page=contabilidad_ingreso" title="Recargar la página">
               <span class="glyphicon glyphicon-refresh"></span>
            </a>            
         </div>
         <div class="btn-group">
            <a class="btn btn-sm btn-default" href="index.php?page=contabilidad_formas_pago">
               <span class="glyphicon glyphicon-cog"></span>
               <span class="hidden-xs">&nbsp;Formas de pago</span>
            </a>
         </div>
         <div class="btn-group">
            <a class="btn btn-sm btn-success " id="modalnuevo" href="#">
               <span class="glyphicon glyphicon-plus"></span>
               <span class="hidden-xs">&nbsp;Nuevo</span>
            </a>
         </div>
      </div>
      <div class="col-sm-6 text-right">
         <div class="btn-group"><h2 style="margin-top: 0px;">Ingresos</h2></div> 
         &nbsp;
         <div class="btn-group">
            <button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true">
               <span class="glyphicon glyphicon-sort-by-attributes-alt" aria-hidden="true"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right">
               <li>
                  <a href="index.php?page=ventas_recibos&amp;mostrar=buscar&amp;desde=&amp;hasta=&amp;estado=&amp;codpago=&amp;order=fecha_desc">
                     <span class="glyphicon glyphicon-sort-by-attributes-alt" aria-hidden="true"></span>
                     &nbsp; Fecha &nbsp;
                  </a>
               </li>
               <li>
                  <a href="index.php?page=ventas_recibos&amp;mostrar=buscar&amp;desde=&amp;hasta=&amp;estado=&amp;codpago=&amp;order=fecha_asc">
                     <span class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span>
                     &nbsp; Fecha &nbsp;
                     
                  </a>
               </li>
               <li>
                  <a href="index.php?page=ventas_recibos&amp;mostrar=buscar&amp;desde=&amp;hasta=&amp;estado=&amp;codpago=&amp;order=codigo_desc">
                     <span class="glyphicon glyphicon-sort-by-attributes-alt" aria-hidden="true"></span>
                     &nbsp; Código &nbsp;
                     
                  </a>
               </li>
               <li>
                  <a href="index.php?page=ventas_recibos&amp;mostrar=buscar&amp;desde=&amp;hasta=&amp;estado=&amp;codpago=&amp;order=codigo_asc">
                     <span class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span>
                     &nbsp; Código &nbsp;                     
                  </a>
               </li>
            </ul>
         </div>
      </div>
   </div>
</div>

<div class="container-fluid">
<div class="table-responsive">
   <table class="table table-hover">
      <thead>
         <tr>
            <th>Código + Cliente</th>
            <th>Observaciones</th>
            <th class="text-right">Monto</th>
            <th>Forma pago</th>
            <th class="text-right">Fecha</th>
            <th class="text-right">Estado</th>
         </tr>
      </thead>
      
      <tbody>
      {loop="$fsc->ingreso->all()"}
      <tr class="clickableRow" href="index.php?page=contabilidad_ingreso&amp;id={$value['codingreso']}">
         <td>
         	<a href="index.php?page=contabilidad_ingreso&amp;id={$value['codingreso']}">{$value['codingreso']}</a> {$value['nombrecliente']}
         </td>
         <td>
         	{$value['descripcion']}
         </td>
         <td class="text-right" title="$ {$value['total']}">
            {$value['total']}
         </td>
         <td>
            {$value['tipopago']} 
         </td>
         <td class="text-right">{$value['fecha']}</td>
         <td class="text-right">        
          <span class="glyphicon glyphicon-ok"></span>&nbsp; 
         </td>
      </tr> 
	  {/loop}
   </tbody></table>
</div>
<!-- ==========  SECCION LISTAR INGRESO :  END========== -->  
{else}
<!-- ==========  SECCION NUEVO INGRESO ========== -->
<div class="container">
	<nav>
		<h1>Nuevo Ingreso</h1>
		<ol class="breadcrumb">
		  <li><a href="#">Contabilidad</a></li>
		  <li><a href="#">Ingreso</a></li>
		  <li class="active">Nuevo Ingreso</li>
		</ol>
	</nav>
	<div class="jumbotron"  style="border: 1px solid #DDDDDD">
{if="$fsc->nuevo_ingreso()==true"}
	{loop="$fsc->nuevo_ingreso()"}
	<form name="f_nuevo_ingreso" action="index.php?page=contabilidad_ingreso&amp;tipo=crear_ingreso" method="post" class="form">
	<div class="form-group ">
		<div class="row ">

			<input type="hidden" placeholder="Numero de Ingreso" name="numero_i" id="numero_i" class="form-control">	
			<div class="col-sm-7 ">
				<label for="cliente">Cliente</label>
				<input type="hidden" value="{$value['codcliente']}" name='codcliente'>
				<input type="text" placeholder="Numero de Ingreso" name="cliente" id="cliente" class="form-control" value="{$value['nombre']}" readonly="false" autocomplete="off"  required="required">
			</div>		
			<div class="col-sm-2 ">
				<label for="fecha">Fecha</label>
				<input type="text" placeholder="Numero de Ingreso" name="fecha" id="fecha" class="form-control datepicker" readonly="false"  autocomplete="off"  required="required">
			</div>			
			<div class="col-sm-3 ">
				<label for="t_ingreso">Tipo de Ingreso</label>
				<select class="form-control" id="t_ingreso" name="t_ingreso">
					<option value='none'>Seleccione</option>
					<option value='D'>Ingreso directo</option>
					<option value='P'>Pedido</option>
					<option value='R'>Retención</option>
				</select>
			</div>
		</div>
	</div>
	{/loop}	
	<div class="form-group ">
		<div class="row ">
			<div class="col-sm-6 ">
				<label for="descripcion">Descripcion</label>
				<input type="text" placeholder="Numero de Ingreso" name="descripcion" id="descripcion" class="form-control"  required="required">
			</div>
			<div class="col-sm-3 ">
				<label for="t_pago">Tipo de Pago</label>			
				<select class="form-control" id="t_pago" name="t_pago">
					{loop="$fsc->forma_pago->all()"}
						<option value='{$value->codpago}'>{$value->descripcion}</option>
					{/loop}
				</select>
			</div>
			<div class="col-sm-3 ">
				<label for="referencia">Referencia</label>
				<input type="text" placeholder="Numero de Ingreso" name="referencia" id="referencia" class="form-control">
			</div>
		</div>
	</div>

	<div class="form-group tingresod" style="display: none">
		<h3>Ingreso directo</h3>
		<hr>
		<div class="row">
			
		</div>
	</div>

	<div class="form-group tingresop" style="display: none">
		<h3>Pedido</h3>
		<hr>
{if="$fsc->listar_pedido()==true"}
	
		<div class="row">
			<table class="table table-hover">
		      <thead>
		         <tr>
		            <th></th>
		            <th class="text-left">Código</th>
		            <th class="text-left">Cliente</th>
		            <th class="hidden-sm"></th>
		            <th class="text-left" style="min-width:40%;">Observaciones</th>
		            <th class="text-right">Monto</th>
		            <th class="text-center">Fecha</th>
		            <th style="width: 50px;">Seleccione</th>
		         </tr>
		      </thead>
		     <tbody>
		     	{loop="$fsc->listar_pedido()"}
		     		<tr class="pedido{$value['codigo']}">
			     		<td></td>
						<td>{$value['codigo']}</td>
						<td class="text-left" >{$value['nombrecliente']}</td>
						<td></td>
						<td style="min-width:40%;">{$value['observaciones']}</td>
						<input type="hidden" name="idpedido[]" value="{$value['codigo']}">
						<td class="text-right"><input data-max="{$value['total']}"  name="monto" class="text-right monto" id="{$value['codigo']}" value="{$value['total']}" disabled="none" ></td>
						<td class="text-center">{$value['fecha']}</td>
						<td class="text-center"><input type="checkbox" name="checpedido[]" value="{$value['codigo']}" data-ide="{$value['codigo']}"/></td>
					</tr>
		     	{/loop}
		     	</tr>
		     </tbody>
		  	</table>
		</div>
		<div class="row">
			<div class="col-md-3 col-md-offset-9"><hr></div>
			<div class="col-md-3 col-md-offset-9">				
				<label for="">Total $</label><div class="total" data-monto='0'><h3>0</h3></div>
				<input type="hidden" name="total" value="0" />
			</div>
		</div>
		<br>
{/if}
</div>
	<div class="form-group tingresor" style="display: none">
		<h3>Retención</h3>
		<hr>
		<div class="row">
			
		</div>
	</div>
	<div class="row text-right">
		<button class="btn btn-sm btn-primary button" type="button" onclick="this.disabled = true;this.form.submit();" disabled >
           <span class="glyphicon glyphicon-floppy-disk"></span>&nbsp; Guardar...
        </button>
        <a class="btn btn-sm btn-danger" type="button" href="index.php?page=contabilidad_ingreso">
           <span class="glyphicon glyphicon-remove"></span>&nbsp; Cancelar
        </a>
	</div>
	</form>
</div>
<!-- ==========  SECCION NUEVO INGRESO : END ========== -->
{else}
<!-- ==========  SECCION CONSULTAR INGRESO ========== -->
	{loop="$fsc->consulta_id()"}
	<form name="f_editar_ingreso" id="f_editar_ingreso" action="index.php?page=contabilidad_ingreso&amp;tipo=editar_ingreso" method="post" class="form">
	<div class="form-group ">
		<div class="row ">
			<input type="hidden" placeholder="Numero de Ingreso" name="numero_i" id="numero_i" class="form-control">	
			<div class="col-sm-7 ">
				<label for="cliente">Cliente</label>
				<input type="hidden" value="{$value['codingreso']}" name='codingreso'>
				<input type="hidden" value="{$value['codcliente']}" name='codcliente'>
				<input type="text" placeholder="Numero de Ingreso" name="cliente" id="cliente" class="form-control" value="{$value['nombrecliente']}" readonly="false" autocomplete="off" >
			</div>		
			<div class="col-sm-2 ">
				<label for="fecha">Fecha</label>
				<input type="text" placeholder="Numero de Ingreso" name="fecha" id="fecha" class="form-control datepicker" readonly="false"  autocomplete="off" value="{$value['fecha']}">
			</div>			
			<div class="col-sm-3 ">
				<label for="t_ingreso">Tipo de Ingreso</label>
				<select class="form-control" id="t_ingreso" name="t_ingreso" disabled="disabled">
					<option value='none'>Seleccione</option>
					<option value='D' {if="$value['tipoingreso']=='D'"} selected {/if}>Ingreso directo</option>
					<option value='P' {if="$value['tipoingreso']=='P'"} selected {/if}>Pedido</option>
					<option value='R' {if="$value['tipoingreso']=='R'"} selected {/if}>Retención</option>
				</select>
			</div>
		</div>
	</div>	
	<div class="form-group ">
		<div class="row ">
			<div class="col-sm-6 ">
				<label for="descripcion">Descripcion</label>
				<input type="text" placeholder="Numero de Ingreso" name="descripcion" id="descripcion" class="form-control" value="{$value['descripcion']}">
			</div>
			<div class="col-sm-3 ">
				<label for="t_pago">Tipo de Pago</label>		
				<select class="form-control" id="t_pago" name="t_pago" value="{$value['tipopago']}">
					{loop="$fsc->forma_pago->all()"}
						<option value='{$value->codpago}' {if="$fsc->tipopago==$value->codpago"} selected {/if}>
						{$value->descripcion}</option>
					{/loop}
				</select>
			</div>
			<div class="col-sm-3 ">
				<label for="referencia">Referencia</label>
				<input type="text" placeholder="Numero de Ingreso" name="referencia" id="referencia" class="form-control" value="{$value['referencia']}">
			</div>
		</div>
	</div>
		<div class="form-group tingresod" style="display: none">
		<h3>Ingreso directo</h3>
		<hr>
		<div class="row">
			
		</div>
	</div>
{if="$fsc->listar_pedido()==true"}
	<div class="form-group tingresop" style="display: none">
		<h3>Pedido</h3>
		<hr>
		<div class="row">
			<table class="table table-hover">
		      <thead>
		         <tr>
		            <th></th>
		            <th class="text-left">Código</th>
		            <th class="text-left">Cliente</th>
		            <th class="hidden-sm"></th>
		            <th class="text-left" style="min-width:40%;">Observaciones</th>
		            <th class="text-right">Monto</th>
		            <th class="text-center">Fecha</th>
		            <th style="width: 50px;">Seleccione</th>
		         </tr>
		      </thead>
		     <tbody>
		     	{loop="$fsc->listar_pedido()"}
		     		<tr>
			     		<td></td>
						<td>{$value['codigo']}</td>
						<td class="text-left" >{$value['nombrecliente']}</td>
						<td></td>
						<td style="min-width:40%;">{$value['observaciones']}</td>
						<td class="text-right"><input data-max="{$value['total']}"  name="monto" class="text-right monto" id="{$value['codigo']}" value="{$value['total']}" disabled="none" ></td>
						<td class="text-center">{$value['fecha']}</td>
						<td class="text-center"><input type="checkbox" data-ide="{$value['codigo']}"/></td>
					</tr>
		     	{/loop}
		     	</tr>
		     </tbody>
		  	</table>
		</div>
		<div class="row">
			<div class="col-md-3 col-md-offset-9"><hr></div>
			<div class="col-md-3 col-md-offset-9">				
				<label for="">Total $</label><div class="total" data-monto='0'><h3>0</h3></div>
				<input type="hidden" name="total" value="0" />
			</div>
		</div>
		<br>
		
{/if}
	<div class="form-group tingresor" style="display: none">
		<h3>Retención</h3>
		<hr>
		<div class="row">
			
		</div>
	</div>
	<div class="row text-right">
		<a id="b_eliminar" class="btn btn-sm btn-danger" href="#">
              <span class="glyphicon glyphicon-trash"></span>
        </a>
		<button class="btn btn-sm btn-primary" type="button" onclick="this.disabled = true;this.form.submit();">
           <span class="glyphicon glyphicon-floppy-disk"></span>&nbsp; Guardar...
        </button>
        <a class="btn btn-sm btn-warning" type="button" href="index.php?page=contabilidad_ingreso">
           <span class="glyphicon glyphicon-remove"></span>&nbsp; Cancelar
        </a>
	</div>
	</form>
	{/loop}
{/if}
<!-- ==========  SECCION CONSULTAR INGRESO : END ========== -->
	</div>
{/if}
<!-- ==========  SECCION MODAL(CLIENTE) INGRESO ========== -->

{if="$fsc->nuevo_ingreso()==false"}
<script type="text/javascript">
$('#modalnuevo').click(function() {
    $("#modal_cliente").modal('show');
      document.f_nueva_venta.ac_cliente.focus();

      $("#ac_cliente").autocomplete({
         serviceUrl: 'index.php?page=nueva_venta&tipo=pedido',
         paramName: 'buscar_cliente',
         onSelect: function (suggestion) {
            if(suggestion)
            {
               if(document.f_nueva_venta.cliente.value != suggestion.data)
               {
                  document.f_nueva_venta.cliente.value = suggestion.data;
               }
            }
         }
      });
   });
</script>
<div class="modal in" id="modal_cliente" style="display: none; padding-right: 17px;">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title">
               <span class="glyphicon glyphicon-search"></span>
               &nbsp; Selecciona el cliente
            </h4>
            <p class="help-block">
               Busca y selecciona el cliente o bien crea uno nuevo usando
               el recuadro en azul. Además, puedes cambiar las
               <a href="index.php?page=ventas_clientes_opciones">opciones para nuevos clientes</a>.
            </p>
         </div>
         <div class="modal-body">
            <form name="f_nueva_venta" action="index.php?page=contabilidad_ingreso&amp;tipo=ingreso" method="post" class="form">
               <input type="hidden" name="cliente">
               <div class="form-group">
                  <div class="input-group">
                     <input class="form-control" type="text" name="ac_cliente" id="ac_cliente" placeholder="Buscar" autocomplete="off">
                     <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit" onclick="this.disabled=true;this.form.submit();">
                           <span class="glyphicon glyphicon-share-alt"></span>
                        </button>
                     </span>
                  </div>
               </div>
            </form>
         </div>
         <div class="modal-body bg-info">
            <form action="index.php?page=contabilidad_ingreso&amp;tipo=nuevocliente" method="post" class="form-horizontal">
               <input type="hidden" name="cliente">
               <div class="form-group">
                  <label class="col-sm-2 control-label">Nombre</label>
                  <div class="col-sm-10">
                     <input type="text" name="nuevo_cliente" class="form-control" placeholder="Nuevo cliente" autocomplete="off" >
                  </div>
               </div>
               <div class="form-group">
                  <label class="col-sm-2 control-label">Cedula</label>
                  <div class="col-sm-3">
                     <select name="nuevo_tipoidfiscal" class="form-control">
                        
                        
                        <option value="Cedula">Cedula</option>
                        
                        <option value="R.U.C">R.U.C</option>
                        
                        <option value="Pasaporte">Pasaporte</option>
                        
                     </select>
                  </div>
                  <div class="col-sm-7">
                     
                     <input type="text" name="nuevo_cifnif" class="form-control" maxlength="30" autocomplete="off">
                     
                     <label class="checkbox-inline">
                        <input type="checkbox" name="personafisica" value="TRUE" checked=""> Persona física (no empresa)
                     </label>
                  </div>
               </div>    
               <div class="text-right">
                  <button class="btn btn-sm btn-primary" type="submit">
                     <span class="glyphicon glyphicon-floppy-disk"></span>&nbsp; Guardar y seleccionar
                  </button>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>
<!-- ==========  SECCION MODAL(CLIENTE) INGRESO : END ========== -->
<!-- ==========  SECCION MODAL(ELIMINAR) INGRESO =============== -->
<form action="index.php?page=contabilidad_ingreso&amp;tipo=eliminaringreso" method="post">
   <input type="hidden" name="delete" value="{$fsc->id}"/>
   <div class="modal fade" id="modal_eliminar">
      <div class="modal-dialog">
         <div class="modal-content">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
               <h4 class="modal-title">¿Realmente desea eliminar este {#FS_PEDIDO#}?</h4>
            </div>
            <div class="modal-footer">
               <button class="btn btn-sm btn-danger" onclick="this.disabled = true;this.form.submit();">
                  <span class="glyphicon glyphicon-trash"></span>&nbsp; Eliminar
               </button>
            </div>
         </div>
      </div>
   </div>
</form>
<!-- ==========  SECCION MODAL(ELIMINAR) INGRESO : END =========== -->
{/if}
<script>

   function editaraction(){
   	 $( 'form' ).submit();
   	 alert('hola');
   }

	$('#t_ingreso').change(function() {
	$('.button').prop('disabled', false);
	if ($(this).val()=='D') {
		$('.tingresop').hide();
		$('.tingresor').hide();
		$('.tingresod').show();
		$('#referencia').val('');

	} else if ($(this).val()=='P') {
		$('.tingresop').show();
		$('.tingresor').hide();
		$('.tingresod').hide();
		$('#referencia').val('');
	} else if ($(this).val()=='R') {
		$('.tingresop').hide();
		$('.tingresor').show();
		$('.tingresod').hide();
		$('#referencia').val('');
	}
	});

	$('input[type="checkbox"]').click(function() {

		var total=$('.total').data('monto');

		if( $(this).prop('checked') ) {

			$('#'+$(this).data('ide')).each(
				function(index, value) {
					$(this).removeAttr('disabled');
				}
			);

			$('.pedido'+$(this).val()).append('<input value="'+parseInt($('#'+$(this).data('ide')).val())+'-'+$(this).val()+'" class="aux'+$(this).val()+'">');
			
		    total = total + parseInt($('#'+$(this).data('ide')).val());
		    $('.total').data('monto',total);
		    $('.total').empty();
		    $('.total').append('<h3>'+total+'</h3>');
		    $('input[name="total"]').attr('value',total);

		}else{
			$('.aux'+$(this).val()).remove();
			total = total - parseInt($('#'+$(this).data('ide')).val());
			$('.total').data('monto',total);
			$('.total').empty();
		    $('.total').append('<h3>'+total+'</h3>');
		    $('input[name="total"]').attr('value',total);
		    $('#'+$(this).data('ide')).each(
				function(index, value) {
					$(this).attr('disabled', 'disabled'); 
				}
			);
		}
	});

	$('.monto').keyup(function() {
		if ($(this).data('max')<$(this).val()) 
		{
			importe_total = 0;
			$(this).val($(this).data('max'));
		 	alert("El monto no puede ser mayor de "+$(this).data('max')+" para este pedido");
		 	$('.total').empty();
		 	$(".monto").each(
					function(index, value) {
						if (!$(this).prop('disabled')) {
							importe_total = importe_total + parseInt($(this).val());
						}
					}
				); 
			$('input[name="total"]').attr('value',importe_total);
			$('.total').data('monto',importe_total);
			$('.total').append('<h3>'+importe_total+'</h3>');
		} else {			
				codigo = $(this).attr('id');
				importe_total = 0;
				$('.total').empty();
				$(".monto").each(
					function(index, value) {
						if (!$(this).prop('disabled')) {
							importe_total = importe_total + parseInt($(this).val());
						}
					}
				); 
			$('input[name="total"]').attr('value',importe_total);
			$('.total').data('monto',importe_total);
			$('.total').append('<h3>'+importe_total+'</h3>');
		}
	});

	$('#b_eliminar').click(function (event) {
         event.preventDefault();
         $('#modal_eliminar').modal('show');
    });
</script>
{include="footer"}